<%- include("../partials/header.ejs") %>

<div class="blogContainer ui piled segment">
    <h1>New Blog Post</h1>
    <form action="/blogs" method="POST">
        
        <div class="ui form segment">    
            <div class="field">
                <label>Title</label>
                <input class="newBlogInputs" type="text" name="blog[title]" placeholder="Title" required>
            </div>
            <div class="field">
                <label>Author</label>
                <input class="newBlogInputs" type="text" name="blog[author]" placeholder="Author" required>
            </div>
            <div class="field">
                <label>Image URL</label>
                <input class="newBlogInputs" type="text" name="blog[image]" placeholder="Image URL">
            </div>
            <div class="field">
                <label>Text Area</label>
                <textarea name="blog[content]" required></textarea>
            </div>
            <button class="ui primary button">Submit</button>
            <a class="ui button" href="/blogs">Return</a>
          </div>
    </form>

    
</div>

<%- include("../partials/footer.ejs") %>