<%- include("../partials/authHeader.ejs") %>

<div class="container-login"">
	<div class="login-box">
		<%- include("../partials/flashMessage.ejs") %>
		<form action="/reset" method="POST">
			<div class="center-children">
				<h3 style="text-align: center;">Forgot password?</h3>
			</div>
			<hr>

			<!-- Email -->
			<div>
				<span class="txt1">
					Email
				</span>
			</div>
			<div class="wrap-input validate-input" data-validate="Email is required">
				<input class="input100" type="text" name="email" style="background-color: whitesmoke;" required autofocus>
				<span class="focus-input100"></span>
			</div>
			<br>
			
			<button class="login100-form-btn">
				Send Me a Reset Email
			</button>
		</form>
	</div>
</div>

<!-- <div class="container-fluid">
    <div class="row no-gutter">
		<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
		<div class="col-md-8 col-lg-6">
			<div class="login d-flex align-items-center py-5">
				<div class="container">
					<div class="row">
						<div class="col-md-9 col-lg-8 mx-auto">


							<h3 class="login-heading mb-4"></h3>
							<form action="/reset" method="POST">
								<div class="form-label-group">
									<input id="input-email" class="form-control" type="text" name="email" placeholder="Username" required>
									<label for="input-email">Email</label>
                                </div>
								<button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>  
		</div>
    </div>
</div> -->

<%- include("../partials/authFooter.ejs") %>

