<%- include("../partials/authHeader.ejs") %>

<div class="background-blurred"></div>

<div class="container-login"">
	<div class="login-box">
		<%- include("../partials/flashMessage.ejs") %>
		<form action="/reset/<%= token %>" method="POST">
			<div class="center-children">
				<h3 style="text-align: center;">Resetting Password</h3>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-6">
					<a href="#" class="btn-facebook alternative-sign-in-button">
						<i class="fab fa-facebook"></i>
						Facebook
					</a>
				</div>
				<div class="col-md-6">
					<a href="#" class="btn-google m-b-20">
						<i class="fab fa-google" style="padding-right: 15px;"></i>
						Google
					</a>
				</div>
			</div>
			<br>

			<!-- New Password -->
			<span class="txt1">
				New Password
			</span>
			<div class="wrap-input validate-input" data-validate="Password is required">
				<input class="input100" type="password" name="password" required>
				<span class="focus-input100"></span>
			</div>

			<!-- Confirm New Password -->
			<span class="txt1">
				Confirm Password
			</span>
			<div class="wrap-input validate-input" data-validate="Password is required">
				<input class="input100" type="password" name="confirmPassword" required>
				<span class="focus-input100"></span>
			</div>

			<br>
			<button class="login100-form-btn">
				Sign In
			</button>

			<div class="w-full text-center p-t-55">
				<span class="txt2">
					Don't have an account?
				</span>
				<a href="/register" class="txt2 bo1">
					Sign up now
				</a>
			</div>
		</form>
	</div>
</div>

<%- include("../partials/authFooter.ejs") %>