        <!-- Contact Section -->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="social d-flex justify-content-center">
                    <a href="#" class="mx-2">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="mx-2">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="mx-2">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="bg-black small text-center text-white-50">
            <div class="container">
            Copyright &copy; timz.dev 2020
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
		<script src="/lib/vendor/jquery/jquery.min.js"></script>
		<script src="/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Plugin JavaScript -->
		<script src="/lib/vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- My scripts -->
		<script src="/js/navbar.js"></script>
    </body>
</html>
