<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>CS Nexus</title>

    <meta name="google-site-verification" content="0Vmu_mGWfYz6RF4ttnBBPNhLZ2nkQ07brcYR5u72Xiw">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    </div>

    <div id="navbar" class="ui fixed inverted borderless huge menu">
      <div class="ui container grid">
        <!--Start: Desktop Nav-->
        <div class="computer only row">
          <a href="/"><div class="header item"><i class="terminal icon"></i><strong>CS Nexus</strong></div></a>
          <a class="item" href="/blogs">Blogs</a>
          <% if (currentUser) { %>
            <a class="item" href="/blogs/new">New Blog</a>
          <% } %>
          <a class="item" href="/hydroponix">Hydroponix</a>
          <div class="right menu">
            <% if (!currentUser) { %>
              <a class="item" href="/register"><i class="user plus icon"></i> Sign Up</a>
              <a class="item" href="/login"><i class="user circle icon"></i> Log In</a>
            <% } else { %>
              <a class="item"><em>Signed In As <strong><%= currentUser.username %></strong></em></a>
              <a class="item" href="/logout">Log Out</a>
            <% } %>
          </div>
        </div>
        <!--End: Desktop Nav-->
        
        <!--Start: Mobile Nav-->
        <div class="tablet mobile only row">
          <a class="header item" href="/"><i class="terminal icon"></i>CS Nexus</a>
          <div class="right menu">
            <a class="menu item">
              <div class="ui basic icon toggle button">
                <i class="content icon"></i>
              </div>
            </a>
          </div>
          <div class="ui vertical accordion borderless fluid menu">
            <a class="item" href="/blogs"> Blogs</a>
            <a class="item" href="/register">Sign Up</a>
            <a class="item" href="/login">Log In</a>
            <a class="item" href="/logout">Log Out</a>
          </div>
        </div>
        <!--End: Mobile Nav-->
      </div>
    </div>
    <!--End: Nav  -->

