<%- include("partials/header.ejs") %>

<div class="blogMainBody">
    <div id="viewBlogContainer" class="blogContainer ui piled segment">
        <h1>Home</h1>
        <ul>
        
        </ul>
    </div>
</div>

<%- include("partials/footer.ejs") %>