<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="/css/styles.css">
        <title>CS Nexus</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
         <div class="container">
             <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore, neque et ipsa maxime vitae libero dolore doloribus at. Odio quo quibusdam corrupti esse blanditiis voluptas, voluptate nihil enim doloremque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint tempora minus deserunt est architecto voluptatem, aliquid at distinctio, ipsam odit soluta pariatur nesciunt asperiores similique. Ipsa tempora reiciendis aut.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nisi, soluta voluptas, velit reprehenderit amet totam quas reiciendis eligendi, laudantium tempora itaque. Vitae, quasi similique. Totam facere nulla incidunt atque!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero doloremque dignissimos similique voluptatum dolore, quasi ad totam, necessitatibus quisquam perferendis, debitis culpa! Incidunt doloribus numquam, blanditiis dolor minus cumque fuga?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptas repudiandae nostrum maiores. Recusandae tenetur, harum officiis qui vero reprehenderit, provident nemo labore mollitia, ex nostrum accusamus! Ut, autem tenetur.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit possimus ad reiciendis quo cumque distinctio, numquam ab officiis molestiae natus culpa, consectetur, maiores illo quibusdam aspernatur eius quidem dicta cum?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident quo quis, totam itaque, quisquam perferendis ex debitis laudantium, odio enim repellat dignissimos. At harum ipsa ratione ex magnam, earum recusandae!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, repudiandae itaque perferendis illo expedita magni voluptates quidem repellat quam accusantium optio, amet quas non. Atque amet sapiente sunt eaque tenetur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint tempora minus deserunt est architecto voluptatem, aliquid at distinctio, ipsam odit soluta pariatur nesciunt asperiores similique. Ipsa tempora reiciendis aut.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nisi, soluta voluptas, velit reprehenderit amet totam quas reiciendis eligendi, laudantium tempora itaque. Vitae, quasi similique. Totam facere nulla incidunt atque!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero doloremque dignissimos similique voluptatum dolore, quasi ad totam, necessitatibus quisquam perferendis, debitis culpa! Incidunt doloribus numquam, blanditiis dolor minus cumque fuga?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptas repudiandae nostrum maiores. Recusandae tenetur, harum officiis qui vero reprehenderit, provident nemo labore mollitia, ex nostrum accusamus! Ut, autem tenetur.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit possimus ad reiciendis quo cumque distinctio, numquam ab officiis molestiae natus culpa, consectetur, maiores illo quibusdam aspernatur eius quidem dicta cum?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident quo quis, totam itaque, quisquam perferendis ex debitis laudantium, odio enim repellat dignissimos. At harum ipsa ratione ex magnam, earum recusandae!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, repudiandae itaque perferendis illo expedita magni voluptates quidem repellat quam accusantium optio, amet quas non. Atque amet sapiente sunt eaque tenetur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint tempora minus deserunt est architecto voluptatem, aliquid at distinctio, ipsam odit soluta pariatur nesciunt asperiores similique. Ipsa tempora reiciendis aut.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nisi, soluta voluptas, velit reprehenderit amet totam quas reiciendis eligendi, laudantium tempora itaque. Vitae, quasi similique. Totam facere nulla incidunt atque!
                 
                </p>
             <div class="parallax-wallpaper">

             </div>
             <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint tempora minus deserunt est architecto voluptatem, aliquid at distinctio, ipsam odit soluta pariatur nesciunt asperiores similique. Ipsa tempora reiciendis aut.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nisi, soluta voluptas, velit reprehenderit amet totam quas reiciendis eligendi, laudantium tempora itaque. Vitae, quasi similique. Totam facere nulla incidunt atque!
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero doloremque dignissimos similique voluptatum dolore, quasi ad totam, necessitatibus quisquam perferendis, debitis culpa! Incidunt doloribus numquam, blanditiis dolor minus cumque fuga?
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptas repudiandae nostrum maiores. Recusandae tenetur, harum officiis qui vero reprehenderit, provident nemo labore mollitia, ex nostrum accusamus! Ut, autem tenetur.
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit possimus ad reiciendis quo cumque distinctio, numquam ab officiis molestiae natus culpa, consectetur, maiores illo quibusdam aspernatur eius quidem dicta cum?
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident quo quis, totam itaque, quisquam perferendis ex debitis laudantium, odio enim repellat dignissimos. At harum ipsa ratione ex magnam, earum recusandae!
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, repudiandae itaque perferendis illo expedita magni voluptates quidem repellat quam accusantium optio, amet quas non. Atque amet sapiente sunt eaque tenetur.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint tempora minus deserunt est architecto voluptatem, aliquid at distinctio, ipsam odit soluta pariatur nesciunt asperiores similique. Ipsa tempora reiciendis aut.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nisi, soluta voluptas, velit reprehenderit amet totam quas reiciendis eligendi, laudantium tempora itaque. Vitae, quasi similique. Totam facere nulla incidunt atque!
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero doloremque dignissimos similique voluptatum dolore, quasi ad totam, necessitatibus quisquam perferendis, debitis culpa! Incidunt doloribus numquam, blanditiis dolor minus cumque fuga?
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptas repudiandae nostrum maiores. Recusandae tenetur, harum officiis qui vero reprehenderit, provident nemo labore mollitia, ex nostrum accusamus! Ut, autem tenetur.
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit possimus ad reiciendis quo cumque distinctio, numquam ab officiis molestiae natus culpa, consectetur, maiores illo quibusdam aspernatur eius quidem dicta cum?
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident quo quis, totam itaque, quisquam perferendis ex debitis laudantium, odio enim repellat dignissimos. At harum ipsa ratione ex magnam, earum recusandae!
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, repudiandae itaque perferendis illo expedita magni voluptates quidem repellat quam accusantium optio, amet quas non. Atque amet sapiente sunt eaque tenetur.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint tempora minus deserunt est architecto voluptatem, aliquid at distinctio, ipsam odit soluta pariatur nesciunt asperiores similique. Ipsa tempora reiciendis aut.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nisi, soluta voluptas, velit reprehenderit amet totam quas reiciendis eligendi, laudantium tempora itaque. Vitae, quasi similique. Totam facere nulla incidunt atque!
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero doloremque dignissimos similique voluptatum dolore, quasi ad totam, necessitatibus quisquam perferendis, debitis culpa! Incidunt doloribus numquam, blanditiis dolor minus cumque fuga?
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptas repudiandae nostrum maiores. Recusandae tenetur, harum officiis qui vero reprehenderit, provident nemo labore mollitia, ex nostrum accusamus! Ut, autem tenetur.
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit possimus ad reiciendis quo cumque distinctio, numquam ab officiis molestiae natus culpa, consectetur, maiores illo quibusdam aspernatur eius quidem dicta cum?
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident quo quis, totam itaque, quisquam perferendis ex debitis laudantium, odio enim repellat dignissimos. At harum ipsa ratione ex magnam, earum recusandae!
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, repudiandae itaque perferendis illo expedita magni voluptates quidem repellat quam accusantium optio, amet quas non. Atque amet sapiente sunt eaque tenetur.
             </p>
         </div>
    </body>
</html>