<%- include("partials/header.ejs") %>
<!-- Header -->
<header class="masthead">
	<div class="container d-flex h-100 align-items-center">
		<div class="mx-auto text-center">
			<h1 class="mx-auto my-0">CS NEXUS</h1>
			<hr class="divider inverted">
			<h2 class="text-white-50 mx-auto mt-2 mb-5">Built with Bootstrap 4, jQuery, Node, Express and MongoDB</h2>
			<h2 id="my-name" class="text-white-50 bolded-larger mx-auto mt-2 mb-5">Tim Zhang</h2>
			<h2 class="text-white-50 mx-auto mt-2 mb-5">Arrow here</h2>
		</div>
	</div>
</header>
<!-- About Section -->
<section id="about" class="about-section text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
			<h2 class="text-white mb-4">Tim Zhang (About section here)</h2>
			<p class="text-white-50">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae beatae amet voluptatum est debitis sint fuga quo deleniti nam earum. Aut minus eligendi soluta, expedita rerum temporibus illum quasi tempora!
			</p>
			<p class="text-white-50 bolded-larger">
				Download my <a href="resume/CV_v1.3.pdf" download="Resume.pdf">resume</a>
			</p>
			
			<div><br></div>
			</div>
		</div>
	</div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
	<div class="container">
		<!-- Featured Project Row -->
		<div class="row align-items-center no-gutters mb-4 mb-lg-5">
			<div class="col-xl-8 col-lg-7">
				<img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
			</div>
			<div class="col-xl-4 col-lg-5">
				<div class="featured-text text-center text-lg-left">
					<h4>Shoreline</h4>
					<p class="text-black-50 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius molestias ducimus, natus obcaecati, earum animi unde dolor cum ipsam officia numquam impedit ea molestiae rerum temporibus dolore repellendus consequuntur quas.</p>
				</div>
			</div>
		</div>
		<!-- Project One Row -->
		<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
			<div class="col-lg-6">
				<img class="img-fluid" src="img/demo-image-01.jpg" alt="">
			</div>
			<div class="col-lg-6">
				<div class="bg-black text-center h-100 project">
					<div class="d-flex h-100">
						<div class="project-text w-100 my-auto text-center text-lg-left">
							<h4 class="text-white">Misty</h4>
							<p class="mb-0 text-white-50">PROJECT 1 HERE</p>
							<hr class="d-none d-lg-block mb-0 ml-0">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Project Two Row -->
		<div class="row justify-content-center no-gutters">
			<div class="col-lg-6">
				<img class="img-fluid" src="img/demo-image-02.jpg" alt="">
			</div>
			<div class="col-lg-6 order-lg-first">
				<div class="bg-black text-center h-100 project">
					<div class="d-flex h-100">
						<div class="project-text w-100 my-auto text-center text-lg-right">
							<h4 class="text-white">Mountains</h4>
							<p class="mb-0 text-white-50">
								PROJECT 2 HERE
							</p>
							<hr class="d-none d-lg-block mb-0 mr-0">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Project Three Row -->
		<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
			<div class="col-lg-6">
				<img class="img-fluid" src="img/demo-image-01.jpg" alt="">
			</div>
			<div class="col-lg-6">
				<div class="bg-black text-center h-100 project">
					<div class="d-flex h-100">
						<div class="project-text w-100 my-auto text-center text-lg-left">
							<h4 class="text-white">Misty</h4>
							<p class="mb-0 text-white-50">PROJECT 3 HERE</p>
							<hr class="d-none d-lg-block mb-0 ml-0">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Signup Section -->
<!-- <section id="signup" class="signup-section">
	<div class="container">
	<div class="row">
		<div class="col-md-10 col-lg-8 mx-auto text-center">

		<i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
		<h2 class="text-white mb-5">Subscribe to receive updates!</h2>

		<form class="form-inline d-flex">
			<input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
			<button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
		</form>

		</div>
	</div>
</section> -->

<%- include("partials/footer.ejs") %>