<%- include("partials/header.ejs") %>

<div class="blogContainer ui piled segment">
    <h1><%= blog.title %></h1>

    <img class="thumbnail" src="<%= blog.image %>">
    
</div>

<%- include("partials/footer.ejs") %>