html, body {
    background: whitesmoke;
    background-image: url("https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    height: 100%;
}

i.icon {
    font-size: 200%;
}

.thumbnail {
    width: 200px;
    margin: 0 auto;
    border: solid black 2px;
}

#showBlogContainer, #viewBlogContainer {
    width: 95%;
    max-width: 2000px;
    margin: 0 auto;
}

#showBlogBody, #showBlogSidebar, #viewBlogBody {
    min-height: 100%;
}

#bigHeaderIcon {
    font-size: 56px;
}

div.blogMainBody {
    padding-top: 6.0em;
    min-height: 100%;
}

.newBlogInputs {
    padding: 20px;
}

.blogPic {
    border: solid black 2px;
}

/* Blog pictures */
.image .ui.medium.rounded.image {
    border: solid black 3px;
    box-shadow: 5px 3px 8px black;
}

.ui.centered.medium.image {
    width: 60%;
    height: 60%;
    border: solid black 3px;
}

.button {
    margin: 10%;
    color: yellow;
}

.ui.block.header {
    text-align: center;
}

#footer {
    position: relative;
    height: 200px;
    margin-top: -200px;
    clear: both;
}
