html {
	scroll-behavior: smooth;
}

/* Navigation bar styles */
#mainNav {
	min-height: 48px;
	background-color: black;
}

#mainNav .navbar-toggler {
	font-size: 80%;
	padding: 0.75rem;
	color: white;
	border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
	outline: none;
}

#mainNav .navbar-brand {
	color: white;
	font-weight: 700;
	font-size: 130%;
	padding: .9rem 0;
}

#mainNav .navbar-brand:hover {
	color: rgba(255, 255, 255, 0.459);
	border-radius: 30px;
}

#mainNav .navbar-nav .nav-item:hover {
	color: fade(whitesmoke 80%);
	outline: none;
	background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
	outline: none;
	background-color: transparent;
}

.left-divider {
	border-left: 1px solid gray;
}

@media (min-width: 992px) {
	#mainNav {
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;
		background-color: black;
		transition: background-color 0.3s ease-in-out;
	}
	#mainNav .navbar-brand {
		padding: .5rem 0;
		color: rgb(255, 255, 255);
	}
	#mainNav .nav-link {
		transition: none;
		padding: 2rem 1.5rem;
		color: rgb(255, 255, 255);
	}
	#mainNav .nav-link:hover {
		color: rgba(255, 255, 255, 0.75);
		background-color: rgba(255, 255, 255, 0.13);
		border-radius: 30px;
	}
	#mainNav .nav-link:active {
		color: white;
	}
	#mainNav.navbar-shrink {
		background-color:black;
		color: white;
	}
	#mainNav.navbar-shrink .navbar-brand {
		color: white;
	}
	#mainNav.navbar-shrink .nav-link {
		color: white;
		padding: 1.5rem 1.5rem 1.25rem;
		border-bottom: 0.25rem solid transparent;
	}
	#mainNav.navbar-shrink .nav-link:hover {
		color: #64a19d;
	}
	#mainNav.navbar-shrink .nav-link:active {
		color: #467370;
	}
	#mainNav.navbar-shrink .nav-link.active {
		color: #64a19d;
		outline: none;
		border-bottom: 0.25rem solid #64a19d;
	}
}

/* Landing page styles */
.link-icon {
	font-size: 800%;
	color: white;
}

.link-icon:hover {
	font-size: 800%;
	color: rgba(255, 255, 255, 0.5);
}

.link-desc {
	padding-top: 15px;
	font-size: 125%;
	color: white;
}

.link-desc:hover {
	padding-top: 15px;
	font-size: 125%;
	color: rgba(97, 112, 246, 0.404);
}

.scroll-down-arrow {
	position: relative;
	z-index: 10;
	max-width: 70px;
	height: auto;
	background-color: rgba(161, 161, 161, 0.493);
	border-radius: 20px;
	transition: border-radius 0.3s;
}

.scroll-down-arrow:hover {
	position: relative;
	z-index: 10;
	background-color: rgba(211, 211, 211, 0.493);
	border-radius: 80px;
	transition: border-radius 0.3s;
}

.masthead {
	z-index: 10;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 35rem;
	padding: 15rem 0;
	background-color: rgba(22, 22, 22);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.larger {
	font-size: 150%;
}

#my-name {
	font-size: 200%;
	color: rgba(255, 255, 255, 0.774)!important;
}

.masthead h1 {
	z-index: 10;
	position: relative;
	font-family: 'Open Sans', sans-serif;;
	font-size: 2.5rem;
	line-height: 2.5rem;
	letter-spacing: 0.8rem;
	background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 247, 247));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.masthead h2 {
	z-index: 10;
	position: relative;
	max-width: 20rem;
	font-size: 1rem;
}

@media (min-width: 768px) {
	.masthead h1 {
		z-index: 10;
		position: relative;
		font-size: 4rem;
		line-height: 4rem;
	}
}

@media (min-width: 992px) {
	.masthead {
		z-index: 10;
		position: relative;
		height: 100vh;
		padding: 0;
	}
	.masthead h1 {
		z-index: 10;
		position: relative;
		font-size: 6.5rem;
		line-height: 6.5rem;
		letter-spacing: 0.8rem;
	}
	.masthead h2 {
		z-index: 10;
		position: relative;
		max-width: 30rem;
		font-size: 1.25rem;
	}
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Open Sans', sans-serif;;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-padded {
	padding: 10px;
	margin: 5px;
}

.btn-primary {
  background-color: #64a19d;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
  margin-bottom: 2rem;
}

.projects-section {
  padding: 3rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.projects-section .project-text {
  padding: 1rem;
  font-size: 90%;
}

.projects-links {
	color: rgb(96, 160, 255)!important;
}

.projects-links:hover {
	color: rgba(255, 255, 255, 0.479)!important;
}

@media (min-width: 992px) {
  .projects-section .project-text {
	padding: 1rem;
  }
  .projects-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(87, 87, 87, 0.5) 75%, #161616 100%), url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Open Sans', sans-serif;;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.link-section {
  padding: 5rem;
}

.footer-header {
	color: white;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;;
  letter-spacing: 0.0625em;
}

a {
  color: #64a19d;
}

a:focus, a:hover {
  text-decoration: none;
  color: #3c6360;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #64a19d !important;
}

.text-primary {
  color: #64a19d !important;
}

footer {
  padding: 5rem 0;
}

/* Background slider */

.slideshow { 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slideshow li { 
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
	background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(https://images.unsplash.com/photo-1489183988443-b37b7e119ba6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);

}
.slideshow li:nth-child(2) { 
	background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(https://images.unsplash.com/photo-1543048135-3b45db9660ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
	background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(https://images.unsplash.com/photo-1498696815880-6fd23346fe56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
	background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(https://images.unsplash.com/photo-1517052269751-4ae3ad86cc59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80);
	animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
	background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(https://images.unsplash.com/photo-1508500843942-1a8682e4b280?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2069&q=80);
	animation-delay: 40s; 
}
@keyframes imageAnimation { 
	0% { 
		opacity: 0; 
		animation-timing-function: ease-in;
	}
	10% {
		opacity: 1;
		animation-timing-function: ease-out;
	}
	20% {
		opacity: 1
	}
	30% {
		opacity: 0
	}
}


/* Blog Index Page */

.main-container {
	margin-top: 60px;
	margin-bottom: 60px;
	border-radius: 1em;
	background-color: whitesmoke;
}

.wider-container {
	max-width: 1500px;
}

.main-header {
	text-align: center;
}

.divider {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(34, 34, 34, 0), rgba(12, 12, 12, 0.75), rgba(32, 32, 32, 0));
}

.inverted {
	background-color: white;
	z-index: 10;
	position: relative;
	height: 1px;
}
 
.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
}

.hr-text:before {
	content: '';
	background: linear-gradient(to right, transparent, #2c2c2c, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}

.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;

	padding: 0 .5em;
	line-height: 1.5em;
	color: #818078;
	background-color: #fcfcfa;
}


.non-resizeable {
	resize: none;
}

.blog-card {
	background-color: #2e2e2e;
	color: white;
	box-shadow: 4px 2px 2px #00000083;
}

.card-footer {
	background-color: #414141;
	color: white;
}

.card-title {
	color: white;
	text-align: center;
}

.card-title:hover {
	color: rgba(255, 255, 255, 0.513);
}

.center-element {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.blog-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	object-fit: cover;
	box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.568);
}

div.center-children {
	text-align: center;
}

.user_name{
    font-size:14px;
    font-weight: bold;
}


.comments-list .media{
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
}

.user-avatar {
	width: 40px;
	height: auto;
	margin-right: 10px;
}

/* Hydroponix */

.snapshot-image-large {
	width: 75%;
	height: auto;
	border: 5px solid rgba(0, 0, 0, 0.883);
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.438);
	border-radius: 10px;
}

.card-img-top:hover {
	opacity: 0.5;
	transition: opacity 0.15s;
}

.card {
	/* Center all bootstrap cards */
	margin: 0 auto; 
	float: none; 
	margin-bottom: 10px; 
}




